{% extends "model-page.html" %}
{% block content %}
    
    <div class="container">
        <div class="add-task">
            <div class="title">Todo Tasks</div>
            <input class="enter-task" type="text" placeholder="Add a new Task">
            <button type="submit" class="btn-task">Add</button>
        </div>
        <div class="task-list">
            <ul>
                <li>aaaaa </li>
                <div class="icons">
                    <i class="fas fa-pencil-alt add"></i><i class="fas fa-trash delete"></i>
                </div>
            </ul>
        </div>
    </div>
{% endblock content %}
    