{% extends "model-page.html" %}
{% block content %}
    
    <div class="container">
        <div class="add-task">
            <form action="submit/" method="post"> {% csrf_token %}
                <div class="title">Todo Tasks</div>
                <input type="text" value="{{edit.id}}" name="id_task" hidden>
                <input class="enter-task" type="text" placeholder="add new todo" name="task" value="{{edit.task}}">        
                <button type="submit" class="btn-task">Add</button>
            </form>
        </div>
        <div class="task-list">
            <ul>
                {% for todo in tasks %}
                <li>{{todo.task}}                  
                <div class="icons">
                   <a href="edit/?id={{todo.id}}">
                        <i class="fas fa-pencil-alt add"></i>
                   </a>
                   <a href="delete/{{todo.id}}">
                        <i class="fas fa-trash delete"></i>
                    </a>
                </div>
               </li>
                {% endfor %}

            </ul>
        </div>
    </div>
{% endblock content %}
    